body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:ghostwhite;

    font-family: Arial, sans-serif;
}

.custom-form {
    border: 2px solid red;
    background-color: rgb(168, 168, 168);
    padding: 0 20px 20px 20px;
    width: 20vw;
    margin: 0 auto;
}

.form-title {
    color:royalblue;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
}

.form-group {
    display: block;
    
    div {
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }
}

.form-group label {
    display: inline-block;
    width: 21%;
    vertical-align: middle;
}

.form-group input {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    border: none;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 10%;

    button {
        border-radius: 0%;
        /* font-weight: 550; */
    }
}

select {
    color: red;
    font-weight: 600;
    background-color: white;
}

#summarise:disabled{
    background-color:seashell;
}

#rate {
    margin: 5% 0 5% 0;
    color: red;
    font-size: 21px;
    font-weight: 500;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}